n8n/backup/workflows/Sync_expenses_from_Moco_to_Bexio.json
{
  "name": "Sync expenses from Moco to Bexio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a403ff12-d28b-4d08-8d9f-b5b51ad322ba",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        20
      ],
      "id": "943f14c6-4cd9-4fcd-8f0b-ec3f24e49bca",
      "name": "Update Purchase",
      "webhookId": "a403ff12-d28b-4d08-8d9f-b5b51ad322ba"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bexio.com/2.0/contact/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\n\"field\": \"name_1\",\n\"value\": \"{{ $('Extract Purchase').item.json.body.company.name }}\",\n\"criteria\": \"like\"\n}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        20
      ],
      "id": "e8671fa3-80ec-425f-9ab2-0a5cf5228b0e",
      "name": "Search Contact in Bexio",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gpu4G2grbEtNuoyt",
          "name": "Bexio Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b19077d-4601-4d16-86c4-11598daf6da1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        20
      ],
      "id": "61aac669-ae59-413b-a5af-98ef30104694",
      "name": "If contact exists",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bexio.com/2.0/contact",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"nr\": null,\n\"contact_type_id\": 1,\n\"name_1\": \"{{ $json.name }}\",\n\"name_2\": null,\n\"titel_id\": null,\n\"birthday\": null,\n\"address\": \"{{ $json.address.split(\"\\n\")[1] }}\",\n\"postcode\": \"{{ $json.address.split(\"\\n\")[2].split(\" \")[0] }}\",\n\"city\": \"{{ $json.address.split(\"\\n\")[2].split(\" \")[1] }}\",\n\"country_id\": 1,\n\"mail\": \"{{ $json.email }}\",\n\"phone_fixed\": \"{{ $json.phone }}\",\n\"phone_mobile\": \"\",\n\"url\": \"{{ $json.website }}\",\n\"skype_name\": \"\",\n\"remarks\": \"{{ $json.address.replaceAll(\"\\n\",\"\\\\n\") + \"\\\\n\\\\n\" + new Date().toLocaleDateString() + \", Added from Moco via n8n\" }}\",\n\"user_id\": 2,\n\"owner_id\": 2\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        120
      ],
      "id": "eee1a16b-b9fb-4963-b932-7e2d6c3624bc",
      "name": "Create contact in Bexio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gpu4G2grbEtNuoyt",
          "name": "Bexio Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://solar.mocoapp.com/api/v1/companies/{{ $('Extract Purchase').item.json.body.company.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        120
      ],
      "id": "9d19f21b-a904-434f-8dc7-f8331853da04",
      "name": "Get company from Moco",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jqt40TwPSBpgHF4O",
          "name": "Moco Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bexio.com/4.0/purchase/bills",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"supplier_id\": {{ $('Search Contact in Bexio').item.json.id }},\n  \"vendor_ref\": \"{{ $('Extract Purchase').item.json.body.receipt_identifier || \"-\" }}\",\n  \"title\": \"{{ $('Extract Purchase').item.json.body.title }}\",\n  \"contact_partner_id\": 2,\n  \"bill_date\": \"{{ $('Extract Purchase').item.json.body.date }}\",\n  \"due_date\": \"{{ $('Extract Purchase').item.json.body.due_date || new Date(new Date($('Update Purchase').item.json.body.date).setDate(new Date($('Update Purchase').item.json.body.date).getDate() + 30)).toISOString().split('T')[0] }}\",\n  \"amount_man\": {{ $('Extract Purchase').item.json.body.gross_total }},\n  \"manual_amount\": true,\n  \"currency_code\": \"CHF\",\n  \"item_net\": false,\n  \"qr_bill_information\": \"todo\",\n  \"address\": {\n    \"lastname_company\": \"{{ $('Extract Purchase').item.json.body.company.name }}\",\n    \"country_code\": \"CH\",\n    \"type\": \"COMPANY\"\n  },\n  \"line_items\": [\n    {\n      \"position\": 0,\n      \"title\": \"{{ $('Extract Purchase').item.json.body.items[0].title }}\",\n      \"amount\": {{ $('Extract Purchase').item.json.body.items[0].gross_total }},\n      \"booking_account_id\": {{ $('Lookup Account in Bexio').item.json.id || $json.line_items[0].booking_account_id}},\n      \"tax_id\": {{ $('Lookup Account in Bexio').item.json.tax_id || 10}}\n    }\n  ],\n  \"discounts\": [],\n  \"payment\": {\n    \"type\": \"{{ $('Extract Purchase').item.json.body.iban ? ($('Extract Purchase').item.json.body.reference ? \"QR\" : \"IBAN\") : \"MANUAL\"}}\",\n    \"bank_account_id\": 2,\n    \"fee\": \"BY_SENDER\",\n    \"execution_date\": \"{{ $('Extract Purchase').item.json.body.due_date || new Date(new Date($('Extract Purchase').item.json.body.date).setDate(new Date($('Extract Purchase').item.json.body.date).getDate() + 20)).toISOString().split('T')[0] }}\",\n    \"amount\": {{ $('Extract Purchase').item.json.body.gross_total }},\n    \"iban\": \"{{ $('Extract Purchase').item.json.body.iban }}\",\n    \"name\": \"{{ $('Extract Purchase').item.json.body.company.name }}\",\n    \"address\": \"{{ $('Search Contact in Bexio').item.json.address || \"\"}}\",\n    \"street\": \"{{ $('Search Contact in Bexio').item.json.address.split(\" \")[0] || \"\"}}\",\n    \"house_no\": \"{{ $('Search Contact in Bexio').item.json.address.split(\" \")[1] || \"\"}}\",\n    \"postcode\": \"{{ $('Search Contact in Bexio').item.json.postcode || \"0000\"}}\",\n    \"city\": \"{{ $('Search Contact in Bexio').item.json.city || \"Unknown\" }}\",\n    \"country_code\": \"CH\",\n    \"message\": \"{{ $('Extract Purchase').item.json.body.receipt_identifier }}\",\n    \"booking_text\": \"{{ $('Extract Purchase').item.json.body.receipt_identifier }}\",\n    \"salary_payment\": false,\n    {{ $('Extract Purchase').item.json.body.reference ? \"\\\"reference_no\\\": \\\"\" + $('Extract Purchase').item.json.body.reference + \"\\\",\": \"\" }}\n    \"note\": \"{{ $('Extract Purchase').item.json.body.info || \"-\"}}\" \n  },\n  \"attachment_ids\": {{ $('Upload file to Bexio').item.json.uuid ? \"[\\\"\"+$('Upload file to Bexio').item.json.uuid+\"\\\"]\" : \"[]\"}} \n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        -60
      ],
      "id": "6929fb37-feda-4609-81b1-fe273d475041",
      "name": "Create Bill in Bexio",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gpu4G2grbEtNuoyt",
          "name": "Bexio Header Auth"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "96f403c7-dd04-45e4-abe9-1f7f3ccda6eb",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        -180
      ],
      "id": "13b9a5f1-7e9c-4282-a7b7-68751214f77d",
      "name": "Create Purchase",
      "webhookId": "96f403c7-dd04-45e4-abe9-1f7f3ccda6eb"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\"body\": $json.body}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        -80
      ],
      "id": "99165fb6-d9eb-46ba-b6d9-ae7468f18737",
      "name": "Extract Purchase"
    },
    {
      "parameters": {
        "url": "https://api.bexio.com/4.0/purchase/bills",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "vendor",
              "value": "={{ $('Extract Purchase').item.json.body.company.name }}"
            },
            {
              "name": "vendor_ref",
              "value": "={{ $('Extract Purchase').item.json.body.receipt_identifier }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -260
      ],
      "id": "30873cfd-d17b-4d4f-9102-8291e01d5423",
      "name": "Search Bill in Bexio",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gpu4G2grbEtNuoyt",
          "name": "Bexio Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbb88f18-4c74-4f3f-a5b5-79befb742bab",
              "leftValue": "={{ $json.data[0].status }}",
              "rightValue": "DRAFT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        -360
      ],
      "id": "3d303072-78ed-4669-af75-2f9ccd9313fc",
      "name": "If bill has status draft"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6157779e-1e54-4ab4-aa19-0499d9bac18b",
              "leftValue": "={{ $json.paging.item_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1180,
        -260
      ],
      "id": "0d99a434-128d-4f24-8494-e123f889d88c",
      "name": "If bill exists"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        -240
      ],
      "id": "d71604df-9d26-4f66-acee-2493e7bc5657",
      "name": "No Operation, do nothing",
      "notesInFlow": true,
      "notes": "Bill already exist, but not in status DRAFT anymore."
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.bexio.com/4.0/purchase/bills/{{ $('Get Bill from Bexio').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"supplier_id\": {{ $json.supplier_id }},\n  \"vendor_ref\": \"{{ $json.vendor_ref }}\",\n  \"document_no\": \"{{ $json.document_no }}\",\n  \"title\": \"{{ $('Extract Purchase').item.json.body.title }}\",\n  \"contact_partner_id\": 2,\n  \"bill_date\": \"{{ $('Extract Purchase').item.json.body.date }}\",\n  \"due_date\": \"{{ $('Extract Purchase').item.json.body.due_date || new Date(new Date($('Update Purchase').item.json.body.date).setDate(new Date($('Update Purchase').item.json.body.date).getDate() + 30)).toISOString().split('T')[0] }}\",\n  \"amount_man\": {{ $('Extract Purchase').item.json.body.gross_total }},\n  \"manual_amount\": true,\n  \"currency_code\": \"CHF\",\n  \"address\": {\n    \"lastname_company\": \"{{ $('Extract Purchase').item.json.body.company.name }}\",\n    \"country_code\": \"CH\",\n    \"type\": \"COMPANY\"\n  },\n  \"split_into_line_items\": {{ $json.split_into_line_items }},\n  \"item_net\": false,\n  \"line_items\": [\n    {\n      \"position\": 0,\n      \"title\": \"{{ $('Extract Purchase').item.json.body.items[0].title }}\",\n      \"amount\": {{ $('Extract Purchase').item.json.body.items[0].gross_total }},\n      \"booking_account_id\": {{ $('Lookup Account in Bexio').item.json.id || $json.line_items[0].booking_account_id}},\n      \"tax_id\": {{ $('Lookup Account in Bexio').item.json.tax_id || $json.line_items[0].tax_id || 10 }}\n    }\n  ],\n  \"discounts\": [],\n  \"payment\": {\n    \"type\": \"{{ $('Extract Purchase').item.json.body.iban ? ($('Extract Purchase').item.json.body.reference ? \"QR\" : \"IBAN\") : \"MANUAL\"}}\",\n    \"bank_account_id\": 2,\n    \"fee\": \"BY_SENDER\",\n    \"execution_date\": \"{{ $('Extract Purchase').item.json.body.due_date || new Date(new Date($('Extract Purchase').item.json.body.date).setDate(new Date($('Extract Purchase').item.json.body.date).getDate() + 20)).toISOString().split('T')[0] }}\",\n    \"amount\": {{ $('Extract Purchase').item.json.body.gross_total }},\n    \"iban\": \"{{ $('Extract Purchase').item.json.body.iban }}\",\n    \"name\": \"{{ $('Extract Purchase').item.json.body.company.name }}\",\n    \"address\": \"{{ $('Search Contact in Bexio').item.json.address.split(\" \")[0] || \"\"}}\",\n    \"house_no\": \"{{ $('Search Contact in Bexio').item.json.address.split(\" \")[1] || \"\"}}\",\n    \"postcode\": \"{{ $('Search Contact in Bexio').item.json.postcode || \"0000\"}}\",\n    \"city\": \"{{ $('Search Contact in Bexio').item.json.city || \"Unknown\" }}\",\n    \"country_code\": \"CH\",\n    \"message\": \"{{ $('Extract Purchase').item.json.body.receipt_identifier }}\",\n    \"booking_text\": \"{{ $('Extract Purchase').item.json.body.receipt_identifier }}\",\n    \"salary_payment\": false,\n    {{ $('Extract Purchase').item.json.body.reference ? \"\\\"reference_no\\\": \\\"\" + $('Extract Purchase').item.json.body.reference + \"\\\",\": \"\" }}\n    \"note\": \"{{ $('Extract Purchase').item.json.body.info || \"-\"}}\" \n  },\n  \"attachment_ids\": {{ $('Search Bill in Bexio').item.json.data[0].attachment_ids ? \"[\\\"\"+$('Search Bill in Bexio').item.json.data[0].attachment_ids+\"\\\"]\" : $('Upload file to Bexio').item.json.uuid ? \"[\\\"\"+$('Upload file to Bexio').item.json.uuid+\"\\\"]\" : \"[]\"}} \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        -560
      ],
      "id": "29c07f74-3de4-4e68-9cd7-5fd5392f44ef",
      "name": "Update Bill in Bexio",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gpu4G2grbEtNuoyt",
          "name": "Bexio Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.bexio.com/4.0/purchase/bills/{{ $('Search Bill in Bexio').item.json.data[0].id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        -440
      ],
      "id": "15728754-a21d-4f23-9da0-9a488f3bfac5",
      "name": "Get Bill from Bexio",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gpu4G2grbEtNuoyt",
          "name": "Bexio Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bexio.com/2.0/accounts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\n\"field\": \"account_no\",\n\"value\": \"{{ $('Extract Purchase').item.json.body.items[0].category.credit_account || $('Extract Purchase').item.json.body.items[0].supplier_credit_number || \"4000\" }}\",\n\"criteria\": \"=\"\n}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -260
      ],
      "id": "ce1cb17d-ec05-4b61-ada7-24490c64ff88",
      "name": "Lookup Account in Bexio",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gpu4G2grbEtNuoyt",
          "name": "Bexio Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Extract Purchase').item.json.body.file_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        -700
      ],
      "id": "ce5bcea5-1046-405e-83e2-9e21bb89519b",
      "name": "Download attachment from Moco",
      "notesInFlow": true,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bexio.com/3.0/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Extract Purchase').item.json.body.date }} {{ $('Extract Purchase').item.json.body.company.name }} {{ $('Extract Purchase').item.json.body.receipt_identifier || \"\" }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachment",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -700
      ],
      "id": "5b728696-d1c9-4061-9954-84fb7c231301",
      "name": "Upload file to Bexio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gpu4G2grbEtNuoyt",
          "name": "Bexio Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "05fd2471-41fe-4426-a8b5-e8e3985be6f7",
              "leftValue": "={{ $('Extract Purchase').item.json.body.file_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0eb0e77e-09aa-468b-adf6-fdfd6d11798e",
              "leftValue": "={{ ! $json.data[0] || ! $json.data[0].attachment_ids }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        620,
        -560
      ],
      "id": "767f88d5-ac13-4024-bb54-10add6131338",
      "name": "If attachment can be added to bill"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://solar.mocoapp.com/api/v1/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"commentable_id\": {{ $('Extract Purchase').item.json.body.id }},\n    \"commentable_type\": \"Purchase\",\n    \"text\": \"Lieferantenrechnung in Bexio aktualisiert: https://office.bexio.com/index.php/kb_bill/list#/show/{{ $('Get Bill from Bexio').item.json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        -440
      ],
      "id": "99073a72-285e-4333-9286-ddc782b5d409",
      "name": "Comment in Moco",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jqt40TwPSBpgHF4O",
          "name": "Moco Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.bexio.com/4.0/purchase/bills/{{ $('Get Bill from Bexio').item.json.id }}/bookings/BOOKED",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        -240
      ],
      "id": "08308090-1c45-407a-ab30-1b140a42f44a",
      "name": "Set Bill to Booked in Bexio",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gpu4G2grbEtNuoyt",
          "name": "Bexio Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://solar.mocoapp.com/api/v1/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"commentable_id\": {{ $('Extract Purchase').item.json.body.id }},\n    \"commentable_type\": \"Purchase\",\n    \"text\": \"Lieferantenrechnung in Bexio auf <strong>gebucht</strong> gesetzt: https://office.bexio.com/index.php/kb_bill/list#/show/{{ $('Extract Bill id').item.json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        -240
      ],
      "id": "8463d357-5513-4318-9500-99498317a598",
      "name": "Comment Booked in Moco",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jqt40TwPSBpgHF4O",
          "name": "Moco Header Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { \"id\": $('Get Bill from Bexio').first().json.id || $('Create Bill in Bexio').first().json.id || $('Create Manual Bill in Bexio').first().json.id }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        -240
      ],
      "id": "e8e6c966-743f-463a-96e9-a7244cc093ba",
      "name": "Extract Bill id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://solar.mocoapp.com/api/v1/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"commentable_id\": {{ $('Extract Purchase').item.json.body.id }},\n    \"commentable_type\": \"Purchase\",\n    \"text\": \"Lieferantenrechnung in Bexio erstellt: https://office.bexio.com/index.php/kb_bill/list#/show/{{ $('Create Bill in Bexio').item.json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        -60
      ],
      "id": "e877cc33-f4c6-4000-a900-eac7633d6be5",
      "name": "Comment Bill creation in Moco",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jqt40TwPSBpgHF4O",
          "name": "Moco Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c19ed051-bb56-40f8-9539-840781a3a35f",
              "leftValue": "={{ $('Extract Purchase').item.json.body.iban }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        40
      ],
      "id": "96149fd8-1c9c-4b29-a94e-679787e827c4",
      "name": "If has IBAN"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bexio.com/4.0/purchase/bills",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"supplier_id\": {{ $('Search Contact in Bexio').item.json.id }},\n  \"vendor_ref\": \"{{ $('Extract Purchase').item.json.body.receipt_identifier || \"-\" }}\",\n  \"title\": \"{{ $('Extract Purchase').item.json.body.title }}\",\n  \"contact_partner_id\": 2,\n  \"bill_date\": \"{{ $('Extract Purchase').item.json.body.date }}\",\n  \"due_date\": \"{{ $('Extract Purchase').item.json.body.due_date || new Date(new Date($('Update Purchase').item.json.body.date).setDate(new Date($('Update Purchase').item.json.body.date).getDate() + 30)).toISOString().split('T')[0] }}\",\n  \"amount_man\": {{ $('Extract Purchase').item.json.body.gross_total }},\n  \"manual_amount\": true,\n  \"currency_code\": \"CHF\",\n  \"item_net\": false,\n  \"qr_bill_information\": \"todo\",\n  \"address\": {\n    \"lastname_company\": \"{{ $('Extract Purchase').item.json.body.company.name }}\",\n    \"country_code\": \"CH\",\n    \"type\": \"COMPANY\"\n  },\n  \"line_items\": [\n    {\n      \"position\": 0,\n      \"title\": \"{{ $('Extract Purchase').item.json.body.items[0].title }}\",\n      \"amount\": {{ $('Extract Purchase').item.json.body.items[0].gross_total }},\n      \"booking_account_id\": {{ $('Lookup Account in Bexio').item.json.id || $json.line_items[0].booking_account_id}},\n      \"tax_id\": {{ $('Lookup Account in Bexio').item.json.tax_id || 10}}\n    }\n  ],\n  \"discounts\": [],\n  \"payment\": {\n    \"type\": \"MANUAL\",\n    \"bank_account_id\": 3,\n    \"fee\": \"BY_SENDER\",\n    \"execution_date\": \"{{ $('Extract Purchase').item.json.body.due_date || new Date(new Date($('Extract Purchase').item.json.body.date).setDate(new Date($('Extract Purchase').item.json.body.date).getDate() + 20)).toISOString().split('T')[0] }}\",\n    \"amount\": {{ $('Extract Purchase').item.json.body.gross_total }},\n    \"name\": \"{{ $('Extract Purchase').item.json.body.company.name }}\",\n    \"message\": \"{{ $('Extract Purchase').item.json.body.receipt_identifier }}\",\n    \"booking_text\": \"{{ $('Extract Purchase').item.json.body.receipt_identifier }}\",\n    \"salary_payment\": false,\n    {{ $('Extract Purchase').item.json.body.reference ? \"\\\"reference_no\\\": \\\"\" + $('Extract Purchase').item.json.body.reference + \"\\\",\": \"\" }}\n    \"note\": \"{{ ($('Extract Purchase').item.json.body.company.name + \" - \" + ($('Extract Purchase').item.json.body.receipt_identifier||\"\" + \" - \") + ($('Extract Purchase').item.json.body.info || \"\")).substring(0, 80)}}\" \n  },\n  \"attachment_ids\": {{ $('Upload file to Bexio').item.json.uuid ? \"[\\\"\"+$('Upload file to Bexio').item.json.uuid+\"\\\"]\" : \"[]\"}} \n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        160
      ],
      "id": "24393164-61d6-4703-ad75-8669c7c77ae9",
      "name": "Create Manual Bill in Bexio",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gpu4G2grbEtNuoyt",
          "name": "Bexio Header Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://solar.mocoapp.com/api/v1/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"commentable_id\": {{ $('Extract Purchase').item.json.body.id }},\n    \"commentable_type\": \"Purchase\",\n    \"text\": \"Lieferantenrechnung mit individueller Zahlung in Bexio erstellt: https://office.bexio.com/index.php/kb_bill/list#/show/{{ $('Create Manual Bill in Bexio').item.json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        160
      ],
      "id": "56515095-f7d6-4c6a-b8e0-434bd569d51f",
      "name": "Comment Manual Bill creation",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Jqt40TwPSBpgHF4O",
          "name": "Moco Header Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c19ed051-bb56-40f8-9539-840781a3a35f",
              "leftValue": "={{ $('Extract Purchase').item.json.body.iban }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        -440
      ],
      "id": "9dd9765c-ba37-40df-b19d-63444df9ea53",
      "name": "If has IBAN1"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.bexio.com/4.0/purchase/bills/{{ $('Get Bill from Bexio').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"supplier_id\": {{ $json.supplier_id }},\n  \"vendor_ref\": \"{{ $json.vendor_ref }}\",\n  \"document_no\": \"{{ $json.document_no }}\",\n  \"title\": \"{{ $('Extract Purchase').item.json.body.title }}\",\n  \"contact_partner_id\": 2,\n  \"bill_date\": \"{{ $('Extract Purchase').item.json.body.date }}\",\n  \"due_date\": \"{{ $('Extract Purchase').item.json.body.due_date || new Date(new Date($('Update Purchase').item.json.body.date).setDate(new Date($('Update Purchase').item.json.body.date).getDate() + 30)).toISOString().split('T')[0] }}\",\n  \"amount_man\": {{ $('Extract Purchase').item.json.body.gross_total }},\n  \"manual_amount\": true,\n  \"currency_code\": \"CHF\",\n  \"address\": {\n    \"lastname_company\": \"{{ $('Extract Purchase').item.json.body.company.name }}\",\n    \"country_code\": \"CH\",\n    \"type\": \"COMPANY\"\n  },\n  \"split_into_line_items\": {{ $json.split_into_line_items }},\n  \"item_net\": false,\n  \"line_items\": [\n    {\n      \"position\": 0,\n      \"title\": \"{{ $('Extract Purchase').item.json.body.items[0].title }}\",\n      \"amount\": {{ $('Extract Purchase').item.json.body.items[0].gross_total }},\n      \"booking_account_id\": {{ $('Lookup Account in Bexio').item.json.id || $json.line_items[0].booking_account_id}},\n      \"tax_id\": {{ $('Lookup Account in Bexio').item.json.tax_id || $json.line_items[0].tax_id || 10 }}\n    }\n  ],\n  \"discounts\": [],\n  \"payment\": {\n    \"type\": \"MANUAL\",\n    \"bank_account_id\": 3,\n    \"fee\": \"BY_SENDER\",\n    \"execution_date\": \"{{ $('Extract Purchase').item.json.body.due_date || new Date(new Date($('Extract Purchase').item.json.body.date).setDate(new Date($('Extract Purchase').item.json.body.date).getDate() + 20)).toISOString().split('T')[0] }}\",\n    \"amount\": {{ $('Extract Purchase').item.json.body.gross_total }},\n    \"name\": \"{{ $('Extract Purchase').item.json.body.company.name }}\",\n    \"country_code\": \"CH\",\n    \"message\": \"{{ $('Extract Purchase').item.json.body.receipt_identifier }}\",\n    \"booking_text\": \"{{ $('Extract Purchase').item.json.body.receipt_identifier }}\",\n    \"salary_payment\": false,\n    {{ $('Extract Purchase').item.json.body.reference ? \"\\\"reference_no\\\": \\\"\" + $('Extract Purchase').item.json.body.reference + \"\\\",\": \"\" }}\n    \"note\": \"{{ ($('Extract Purchase').item.json.body.company.name + \" - \" + ($('Extract Purchase').item.json.body.receipt_identifier||\"\" + \" - \") + ($('Extract Purchase').item.json.body.info || \"\")).substring(0, 80)}}\" \n  },\n  \"attachment_ids\": {{ $('Search Bill in Bexio').item.json.data[0].attachment_ids ? \"[\\\"\"+$('Search Bill in Bexio').item.json.data[0].attachment_ids+\"\\\"]\" : $('Upload file to Bexio').item.json.uuid ? \"[\\\"\"+$('Upload file to Bexio').item.json.uuid+\"\\\"]\" : \"[]\"}} \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        -340
      ],
      "id": "22c7d3d5-1d22-4b13-8495-e58abc5fcc22",
      "name": "Update Manual Bill in Bexio",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gpu4G2grbEtNuoyt",
          "name": "Bexio Header Auth"
        }
      }
    }
  ],
  "pinData": {
    "Upload file to Bexio": [
      {
        "json": {
          "id": 201,
          "uuid": "b77e54c6-0983-4829-8154-7b61c9728498",
          "name": "Test-File",
          "size_in_bytes": 309408,
          "extension": "pdf",
          "mime_type": "application/pdf",
          "uploader_email": null,
          "processing_source": null,
          "processing_status": null,
          "user_id": 2,
          "is_archived": false,
          "source_id": 2,
          "created_at": "2024-12-13T16:46:28+01:00",
          "is_referenced": false,
          "source_type": "web"
        }
      }
    ],
    "Update Purchase": [
      {
        "json": {
          "headers": {
            "host": "xtom.app.n8n.cloud",
            "user-agent": "Ruby",
            "content-length": "1488",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "185.14.156.146",
            "cf-ew-via": "15",
            "cf-ipcountry": "CH",
            "cf-ray": "8f175e8f906abac5-ZRH",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "185.14.156.146, 172.69.225.242",
            "x-forwarded-host": "xtom.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-8-86454fd949-ms967",
            "x-is-trusted": "yes",
            "x-moco-account-url": "solar",
            "x-moco-event": "update",
            "x-moco-signature": "b463f4c3e6e7934fbf6f4f76ccfe2c2adca5faae8394cf300f029cff8256dc19",
            "x-moco-target": "Purchase",
            "x-moco-timestamp": "1734107742292",
            "x-moco-user-id": "933719334",
            "x-real-ip": "185.14.156.146"
          },
          "params": {},
          "query": {},
          "body": {
            "id": 2413131,
            "identifier": "E240016",
            "receipt_identifier": "CH240067780",
            "title": "Visitenkarten und Flyer CH240067780 TEST",
            "info": null,
            "iban": "CH7708836121049112006",
            "reference": "CH240067780",
            "date": "2024-12-09",
            "due_date": "2024-12-30",
            "service_period_from": "2024-12-01",
            "service_period_to": "2024-12-31",
            "status": "pending",
            "payment_method": "bank_transfer",
            "net_total": 62.38,
            "gross_total": 67.43,
            "currency": "CHF",
            "file_url": "https://data.mocoapp.com/objects/objects%2Faccounts%2F001e273d-b5e6-4bc3-9ff3-25c198249962%2Fdocuments%2F24386179%2Fe0a45a9afc1e2a9b.pdf/e0a45a9afc1e2a9b.pdf?ai=001e273d-b5e6-4bc3-9ff3-25c198249962&ex=1734303599&s=03o8a2Gonk7oiea2_jfTYBYe1zmHUfm6k53PPUJgftg",
            "custom_properties": {},
            "tags": [],
            "company": {
              "id": 762314139,
              "name": "FLYERALARM - RatePAY GmbH",
              "iban": "CH7708836121049112006"
            },
            "payments": [],
            "user": {
              "id": 933719334,
              "firstname": "Tom",
              "lastname": "Plüss"
            },
            "refund_request": null,
            "approval_status": "none",
            "items": [
              {
                "id": 3019592,
                "title": "Visitenkarten und Flyer CH240067780 TEST",
                "net_total": 62.38,
                "tax_total": 5.05,
                "tax": 8.1,
                "vat": {
                  "id": 110529,
                  "tax": 8.1,
                  "description": "",
                  "reverse_charge": false,
                  "intra_eu": false,
                  "active": true
                },
                "tax_included": true,
                "gross_total": 67.43,
                "category": {
                  "id": 97258,
                  "name": "Werbeinserate, elektronische Medien",
                  "credit_account": "6600"
                },
                "supplier_credit_number": 2000,
                "expense": {
                  "id": 3421695,
                  "project": {
                    "id": 947156885,
                    "company_id": 762286145
                  }
                },
                "receipt": null
              }
            ],
            "created_at": "2024-12-13T16:25:51Z",
            "updated_at": "2024-12-13T16:35:42Z"
          },
          "webhookUrl": "https://xtom.app.n8n.cloud/webhook-test/a403ff12-d28b-4d08-8d9f-b5b51ad322ba",
          "executionMode": "test"
        }
      }
    ],
    "Extract Purchase": [
      {
        "json": {
          "body": {
            "id": 2413131,
            "identifier": "E240016",
            "receipt_identifier": "CH240067780",
            "title": "Visitenkarten und Flyer CH240067780 TEST",
            "info": null,
            "iban": "CH7708836121049112006",
            "reference": "CH240067780",
            "date": "2024-12-09",
            "due_date": "2024-12-30",
            "service_period_from": "2024-12-01",
            "service_period_to": "2024-12-31",
            "status": "pending",
            "payment_method": "bank_transfer",
            "net_total": 62.38,
            "gross_total": 67.43,
            "currency": "CHF",
            "file_url": "https://data.mocoapp.com/objects/objects%2Faccounts%2F001e273d-b5e6-4bc3-9ff3-25c198249962%2Fdocuments%2F24386179%2Fe0a45a9afc1e2a9b.pdf/e0a45a9afc1e2a9b.pdf?ai=001e273d-b5e6-4bc3-9ff3-25c198249962&ex=1734303599&s=03o8a2Gonk7oiea2_jfTYBYe1zmHUfm6k53PPUJgftg",
            "custom_properties": {},
            "tags": [],
            "company": {
              "id": 762314139,
              "name": "FLYERALARM - RatePAY GmbH",
              "iban": "CH7708836121049112006"
            },
            "payments": [],
            "user": {
              "id": 933719334,
              "firstname": "Tom",
              "lastname": "Plüss"
            },
            "refund_request": null,
            "approval_status": "none",
            "items": [
              {
                "id": 3019592,
                "title": "Visitenkarten und Flyer CH240067780 TEST",
                "net_total": 62.38,
                "tax_total": 5.05,
                "tax": 8.1,
                "vat": {
                  "id": 110529,
                  "tax": 8.1,
                  "description": "",
                  "reverse_charge": false,
                  "intra_eu": false,
                  "active": true
                },
                "tax_included": true,
                "gross_total": 67.43,
                "category": {
                  "id": 97258,
                  "name": "Werbeinserate, elektronische Medien",
                  "credit_account": "6600"
                },
                "supplier_credit_number": 2000,
                "expense": {
                  "id": 3421695,
                  "project": {
                    "id": 947156885,
                    "company_id": 762286145
                  }
                },
                "receipt": null
              }
            ],
            "created_at": "2024-12-13T16:25:51Z",
            "updated_at": "2024-12-13T16:35:42Z"
          }
        }
      }
    ],
    "Get company from Moco": [
      {
        "json": {
          "id": 762314139,
          "type": "supplier",
          "name": "FLYERALARM - RatePAY GmbH",
          "website": "https://www.flyeralarm.com/ch",
          "email": "",
          "billing_email_cc": "",
          "phone": "+41 44 583 15 67",
          "fax": "",
          "address": "FLYERALARM Store Zürich\nKasernenstrasse 1\n8004 Zürich\nSchweiz",
          "country_code": "CH",
          "vat_identifier": "",
          "alternative_correspondence_language": false,
          "english_correspondence_language": false,
          "tags": [],
          "user": {
            "id": 933719334,
            "firstname": "Tom",
            "lastname": "Plüss"
          },
          "labels": [],
          "info": "",
          "footer": "",
          "custom_properties": {},
          "created_at": "2024-12-13T16:21:11Z",
          "updated_at": "2024-12-13T16:24:52Z",
          "iban": "CH7708836121049112006",
          "supplier_vat": {
            "id": 110529,
            "tax": 8.1,
            "description": "",
            "reverse_charge": false,
            "intra_eu": false,
            "active": true
          },
          "credit_number": null
        }
      }
    ],
    "Create contact in Bexio": [
      {
        "json": {
          "id": 122,
          "nr": "000121",
          "contact_type_id": 1,
          "name_1": "FLYERALARM - RatePAY GmbH",
          "name_2": "",
          "salutation_id": null,
          "salutation_form": null,
          "title_id": null,
          "birthday": null,
          "address": "Kasernenstrasse 1",
          "postcode": "8004",
          "city": "Zürich",
          "country_id": 1,
          "mail": "",
          "mail_second": "",
          "phone_fixed": "+41 44 583 15 67",
          "phone_fixed_second": "",
          "phone_mobile": "",
          "fax": "",
          "url": "https://www.flyeralarm.com/ch",
          "skype_name": "",
          "remarks": "FLYERALARM Store Zürich\nKasernenstrasse 1\n8004 Zürich\nSchweiz\n\n12/13/2024, Added from Moco via n8n",
          "language_id": null,
          "is_lead": false,
          "contact_group_ids": null,
          "contact_branch_ids": null,
          "user_id": 2,
          "owner_id": 2,
          "profile_image": "iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAKq0lEQVR4nNVcbWwUxxl+znYNGLChlq22MbExHArQYivFmC8V4j+NjKsmbaOqrcRJaaISJ6qEFVS1UDi3/EhD5UgtH+mPNLbUNhVNm0ayL7EiHFPxfU5qU2KEr3ZNoSX4BPGdD8PZ55v+IHPsze7OvLO7XPEjWfLuzs3MPffsfLwfg0Pto8wrnOsf96yu+wUv+3iofZRhSd0xdic540mF27aHPannfsKrPt5JzrAldcdY3tVrd/DaG1fgFuGBGEI9Y67rud8I9YwhPBBzXc9rb1zB1Wt3kAcALx0aRnIq7arC1raI607lCm77mpxK46VDwwBwl0C3Kpwt6uNwq0KuPuBTAgF3KtT5RcMDMTQF+lDfdNIT0kM9Y6hvOommQJ8WKU5VaFQfYCDQqQqp6hOJc0ukSJwukU5VaFQfAPh8FV2MX1R8fi4iJ7ZiTmGe5Yet0BToyyIgfaUx63l4IIbWtoiSpLqaEuxr8aOxoVxaLtQzhta2iPLLNzaUY1+LH3U1JVn385aEssp0dqyV1mNEcioN/+beLAKzmNJVoUx9ugpTlXeiMFV5XRWK6gMEBQJ6KhTVBwBnOzeRFKcCVyQAkuJU4Iqsbzppuk9RoZX6AKBALBhPpJBMpkkERm8kTfcGhyZwaSSh/KwKo1dvY3AokfnfLS6NJDA4NGG6b/UdrJBMphFPpEz3TSztfHYpiheaeLUEV4gRgacqcLF3C15vW4NlVUWkeowoKy3Ey7sfwcjpx/Dijmq8uKMaI6cfw8u7H0FZaaF2fcuqivB62xpc7N2CwFMVpO9gheKFBdj57FLT/axXuHhhAf59toFMIADUN53Mer2Mk0hqhuH3f/kP9v/qnxgenZTWU1ZaiF07qvFcoBLz5+Vblrl1ewZHOi7jwKsjiN6Ykta3rKoIe364HN/7xkMoyPdl7hsnkbqaEpzt3CStx4j4RAoP1/cgPnFPiVkK1FEfh+wXLMj3KRUpKs6OPACYPy9fqUhRcUbydPpuBUsV+iq6mK+ii5Ws7Gax+LSjjfW6bScYr0eG6VSatR+9wpZvfp+V17zHDhwZZonJlKM2GWMsMZliB44Ms/Ka99jyze+z9qNX2HQqLf0M7+e6bScctRmLT7OSld2ZejIEBtuGHFXIGGNdx66TCOSYTqVdESciMZlSEsfB+9l17Lrj9oJtQ5l68jLSfMY8QFLR2FBuWrDKUJDvk76qupg/L1/6qoqoqylRLthl2PnMvaEuD3A29onQHU/+n3Db16yx0M3YJ8LpuJJLeNVHPhbm//gne4Nf3VLmwe8KPPS5ufAvne9JXfcLXvVxzpw8JKfS8DHGmLo4HcZ1lh2aA5VY5V+AF/Z85EmbB/evxmAkgcMdl5VlRWOHW7gb+BygOVCJg/tXZ67dknhw/2o0Byoz1xQSvQTdbuUBRPLEa12I5InXuUDOCLQjyymJdmTlmsScEKgiSZdEFUm5JFFJoFvTuxU53cejprGKSqIVOYc7LqP7eFRZjgJtH4vdOudc/zjbtj2c2bIY95CybZCx7PO7L5iev9s7xuZWv8N8FV3MKiriUPuoqU3+Jys/t/od9m7vmOn587svZNVhh65j17P29Pxv2/awNJrBtIxx68Pgyxg75T3x9AdZ3j87RYmzM6XcnMI8/PW3X4a4rn1hz0cZxYvLGLc+lgyBVOJEiETmLQmRyeNQkUMlGVCTyAmkEidCJNJ3rn+ceenDCPVEtcjjsCMJAJk8DhmJjQ1lnvpYCrz2YazyLzA9Gx6dVDrtByPmPti5BKzKGpGcSt+1gG/Jvr/KvwCDQwlPfSz5bx1tCzYHKlH9cBEuXJrAJ+PTWhWVlRYi2OLH735di60bSlH/tVMoKy1EXe2iTJm62kUoKy1EqCdqWYfslf/j29dQV1uC5VX39q+NDeWI3pyyVZHsle/+wzo0ByqxuPgz6B+MY/L2jNb3XVZVhLa9K/GbX3wJj36xJHsv7IUPg08i1HGLMl5SJgcOVbvGScQLH4vlMsZoehendZUpnrrsoCxzjH+UZQplWWQFo2tAbFflKpBaY4yKjE+klF4zwGyNsVPEYCShPdnIlLjKv4CkeJk1xqjI4oUF1ooTQDJnpWYYklNpkhneypxF2RVQZmrAnkQRdjM1xZx16/YM5hTmkdwEpL2wWx+G1VhlBJU84O4M+8TTH5i2bkaoljkq6PhYcmaNsSNRhzwOGYluydNFTu2BIolOyOOwIjHX5AHEMVAHFJP+wf2rsayqyDF5RvAxcXh0kkSe1yZ9kgLDAzFPTeWDkQRpd0IB33Wodic6ONxxmbzVI/lEWtsiOH8xju9/Z4lW9KoVHnSfCI+BXrOymBQ3SDKohnrGXEfyA7PDJ8KjUKnRq0oCjdHsbiL5Z4NPRIzAp0TySwkUY6CdqnC2+ETEGGiKCqUEWv0CuiqcLT4RUX0cKhXaEmgXga+jQpmlxWphrSJRZmmxWljrkGgVgQ+oVWhLoIx5igopZiodElVmKrvdCYVEO/VxyLiwJFCVfaRSoY5PhEIi1bbolEQ79XHIVJgfDAaD4s0f/OgCIv+6ZVshAJy/OIHmQKVp0x29OaVtpgr1RG2t2I0N5Vo+kZkZhjc7P7a1YotexORUGt9+7u+WKQxG/PfjJL775BdM9y0VSMmd4PkkIrz2iVj5Rcg+EULf7PI/RNhxYkkgJYLTLqrVyeQge+WdvJI6blC7/A8RdpxYEqiKeVbFVOuQqBovdcc1HfI4jDHPVpDFVNvOwjIVUmKqKSRSJxsqiU7IA9QqlHEhNWeJWUi8MVk202z1iVhlIQHqbCYpgaGeMTQF+rLu7WvxY99O+19kNvtEWl+JmNZ8nR1rpSkR0q2cOBY6zSeZLT4RcSyk5JMorTHG999NPsls8ImIYyFlNaIkkKvQbTYTMDt8IlyF1Gwmkpz2tfgRHoi5zmYC7lmgvfCJcBJ1fCIqcBVSU9cKOv50lRQLA8g31TxWhuK0CQ/EEO4fx+3hx0mdVOFwx2XU1S4itf3LV0dIsTAq8FgZH2OM6QQViaAkSotoCvTh/MW49gkhVuBnGVB9GIBeUJEIMcjI8+gsFcIDsczBD174MIzj3tnOTVpZo15EZ1muA2VEOiWOw3jSh5NzaowQT9LQPQeGQ0akbVgbh2XM1qfwOsP8XP84KfKeCquIfjfnAzrKgGfM2+gsGazOmXGqQrtzXJyq0IgHLjoL8MbHYoRTHwYFD2R0llsfixFufBheIycEuvWxiHDjw/AaOSGQogiqClXq02nTC+SEwOhN9WLVzsciguzDILTpBXKjQBc+FhFUHwalTS/geYClHTZ+/RTOfDhu+Uz3zC476zHH+kcX4dTbGx33VQc5m4WDLStsn+naGVUqlLXlNXKmQADY/ORpnOr7JOuekxPjAHsVbly7GCfe2uC6r1Tc94x1I4IW45JTK7edCq3a0IFuxrqtAu3yh6mHxdrhK988jRPn7qrQqfo4RBVuXrcYf/uzM/XZ5Q/bJVpzmBSoUpxbRRrHJ7dndokqdDL2qRSneu55xjoFW791Bv2DcVfq4+AqrF1VjN4315M/51nG+of/iLGfHhjyJGP9Z7tWKP21ANB7+gaOn7kp9S/roPWVCLas/yy2bihVlu0+HsXeA0OeZKz/fNcK/A+fbwenvaUJAAAAAABJRU5ErkJggg==",
          "updated_at": "2024-12-13 17:42:50"
        }
      }
    ],
    "Search Contact in Bexio": [
      {
        "json": {
          "id": 122,
          "nr": "000121",
          "contact_type_id": 1,
          "name_1": "FLYERALARM - RatePAY GmbH",
          "name_2": "",
          "salutation_id": 0,
          "salutation_form": null,
          "title_id": null,
          "birthday": null,
          "address": "Kasernenstrasse 1",
          "postcode": "8004",
          "city": "Zürich",
          "country_id": 1,
          "mail": "",
          "mail_second": "",
          "phone_fixed": "+41 44 583 15 67",
          "phone_fixed_second": "",
          "phone_mobile": "",
          "fax": "",
          "url": "https://www.flyeralarm.com/ch",
          "skype_name": "",
          "remarks": "FLYERALARM Store Zürich\nKasernenstrasse 1\n8004 Zürich\nSchweiz\n\n12/13/2024, Added from Moco via n8n",
          "language_id": null,
          "is_lead": false,
          "contact_group_ids": null,
          "contact_branch_ids": null,
          "user_id": 2,
          "owner_id": 2,
          "updated_at": "2024-12-13 17:42:50"
        }
      }
    ]
  },
  "connections": {
    "Update Purchase": {
      "main": [
        [
          {
            "node": "Extract Purchase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contact in Bexio": {
      "main": [
        [
          {
            "node": "If contact exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If contact exists": {
      "main": [
        [
          {
            "node": "Lookup Account in Bexio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get company from Moco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create contact in Bexio": {
      "main": [
        [
          {
            "node": "Search Contact in Bexio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get company from Moco": {
      "main": [
        [
          {
            "node": "Create contact in Bexio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Purchase": {
      "main": [
        [
          {
            "node": "Extract Purchase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bill in Bexio": {
      "main": [
        [
          {
            "node": "Comment Bill creation in Moco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Purchase": {
      "main": [
        [
          {
            "node": "Search Contact in Bexio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Bill in Bexio": {
      "main": [
        [
          {
            "node": "If attachment can be added to bill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If bill has status draft": {
      "main": [
        [
          {
            "node": "Get Bill from Bexio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If bill exists": {
      "main": [
        [
          {
            "node": "If bill has status draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If has IBAN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bill from Bexio": {
      "main": [
        [
          {
            "node": "If has IBAN1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Account in Bexio": {
      "main": [
        [
          {
            "node": "Search Bill in Bexio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download attachment from Moco": {
      "main": [
        [
          {
            "node": "Upload file to Bexio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If attachment can be added to bill": {
      "main": [
        [
          {
            "node": "Download attachment from Moco",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If bill exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file to Bexio": {
      "main": [
        [
          {
            "node": "If bill exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bill in Bexio": {
      "main": [
        [
          {
            "node": "Comment in Moco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment in Moco": {
      "main": [
        [
          {
            "node": "Extract Bill id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bill to Booked in Bexio": {
      "main": [
        [
          {
            "node": "Comment Booked in Moco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Bill id": {
      "main": [
        [
          {
            "node": "Set Bill to Booked in Bexio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Bill creation in Moco": {
      "main": [
        [
          {
            "node": "Extract Bill id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has IBAN": {
      "main": [
        [
          {
            "node": "Create Bill in Bexio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Manual Bill in Bexio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Manual Bill in Bexio": {
      "main": [
        [
          {
            "node": "Comment Manual Bill creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Manual Bill creation": {
      "main": [
        [
          {
            "node": "Extract Bill id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has IBAN1": {
      "main": [
        [
          {
            "node": "Update Bill in Bexio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Manual Bill in Bexio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Manual Bill in Bexio": {
      "main": [
        [
          {
            "node": "Comment in Moco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b331db46-ab20-4d43-8e7d-4a23ea3c991f",
  "meta": {
    "instanceId": "807b8f39e42cc2ae5d93d7ac96285beb9fd4cf8062c66f290e51dd675c73dc26"
  },
  "id": "yfHXrEvRoatvWes3",
  "tags": []
}